.pot{
    background-image: url('../../assets/images/pot.png');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: contain;
    background-position: center;
    width: 160px; /* Tamaño fijo recomendado */
    height: 160px;
    flex-shrink: 0;
}