.Coin-Bar {
    align-self: center;
    background-color: #0138a09c;
    opacity: 0,5;
    border: 2px solid rgba(255, 255, 255, 0.384); /* Borde blanco de 2px */
    border-radius: 50px;
    width: 10vw;
    height: 40px;
    display: flex;
    justify-content: center; /* Centra horizontalmente los hijos */
    align-items: center; 
    gap: 8px;  
    align-items: center;
    position: relative;
}

#CoinIndicator{
    width: auto;
    height: 150%;
    margin-right: 10px;
    position: absolute;
    left: -25%;
   
}

.coin-counter{
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
    
}