.Coin-Bar {
    align-self: center;
    background-color: #1e5ccf7a;
    opacity: 0,5;
    border: 2px solid rgba(255, 255, 255, 0.384); /* Borde blanco de 2px */
    border-radius: 50px;
    width: 10vw;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

#CoinIndicator{
    width: auto;
    height: 150%;
    margin-right: 10px;
    position: absolute;
    left: -10%;
   
}