.story-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0 1%;
    
  }
  
  .story-content {
    max-width: 800px;
    border-radius: 12px;
    text-align: center;
  }
  
  .story-title {
    color: #9d4528;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .story-image {
    width: 150px;
    height: auto;
    border-radius: 12px;
    margin: 10px 0;
    object-fit: contain; /* Asegura que no se deforme */
  }
  
  .story-texto {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
  }
    @media (max-width: 600px) {
  .story-container{
    padding: 30% 6% 6%;
  }
}