.answer-small{
    padding: 5px 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: relative;
}