.quiz-container{
  position: relative;
  overflow: hidden;
}
.question-container {
    padding: 7%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
  }
  
  .question-box {
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 900px;
    width: 100%;
    text-align: center;
    z-index: 10;
    
  }
 
  
  .question-option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem; 
    margin-bottom: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 600px) {

  .question-container {
    padding: 30% 6% 6%;
   } 
    
   .question-option {
    display: grid;
    grid-template-columns: 1fr; 
  }

  .answer,
  .answer-small {
    width: 100%;  
    margin: 2px;
  }
}