
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFD79F; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #AC411B; /* naranja oscuro */
    border-radius: 10px;
    border: 2px solid #FFD79F; /* crea efecto de padding */
  }
  
  /* Scrollbar para Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #ac421b56 #FFD79F;
    margin-top: 40px;
  }
  
  .btn-container {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 80px;
    }
  
    .eco-button,
    .act-button {
      width: 60vw;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center; /* centrar todo el contenido */
      padding: 0 16px;
    }
  
    .eco-button #ecoimg {
      width: 30px;
      height: 30px;
      margin-right: 8px; /* espacio entre imagen y texto */
    }
  
    #ecobtontt,
    #activitext {
      font-size: 1.5rem;
    }
  
    .eco-button {
      order: 1;
    }
  
    .act-button {
      order: 2;
    }
  }
  
  