.actividades-page {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f0f0da; 
    overflow: hidden; 
  }
  
  .fondo-inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    
    z-index: -1;
    pointer-events: none;
    object-fit: cover; 
  }
  