.eco-button{
    background-color: #FFDBB1;
    border: none;
    border-radius: 20px;
    width: 20vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 
    0 4px 0 #EBB372, 
    0 5px 10px rgba(0, 0, 0, 0.2);
}

#ecobtontt{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color: #CC730B;
    text-align: start;
}

#ecoimg{
    max-width: 100%;
    max-height: 100%;
}