.act-button{
    background-color: #27A258;
    border: none;
    border-radius: 20px;
    width: 20vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 
    0 4px 0 #2a722a, 
    0 5px 10px rgba(0, 0, 0, 0.2); /* Borde inferior oscuro (simula relieve) */
}

#activitext{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-align: start;
}

