.lvl-bar {
    align-self: center;
    background-color: #82ADFF;
    opacity: 0,5;
    border: 2px solid white; /* Borde blanco de 2px */
    border-radius: 50px;
    width: 20vw;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

#lvlIndicator{
    width: auto;
    height: 200%;
    margin-right: 10px;
    position: absolute;
    left: -15%;
   
}