/* NAVBAR ESTILIZADA */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* relieve */
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.leftup,
.rightup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 20px;
}
