* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B8F2FE;
}

/* Asegura que html y body ocupen toda la pantalla */
html, body, #root {
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background-color: #B8F2FE;
  margin: 0;
  padding: 0;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;

}

.btn-container{
  margin-bottom: 20px;
}