<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B8F2FE;
}

/* Asegura que html y body ocupen toda la pantalla */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Opcional: evita scroll horizontal */
  background-color: #B8F2FE;
  margin: 0;
  padding: 0;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;

}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B8F2FE;
}

/* Asegura que html y body ocupen toda la pantalla */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Opcional: evita scroll horizontal */
  background-color: #B8F2FE;
  margin: 0;
  padding: 0;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;

}
>>>>>>> 4c7bfd8333749cfd766eee20c721bdf54c2e6768
