.bg {
    margin: 0;
    padding: 0;
    background-color: #B8F2FE;
    background-image: url('../../assets/images/MacBook Air - 9 (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed; /* Cubre toda la pantalla */
    width: 100%;
    height: 100%;
    z-index: -1; /* Para fondos */
}