.bg {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0; /* Asegura que empiece desde la esquina superior izquierda */
    width: 100vw; /* Usa viewport width en lugar de 100% */
    height: 100vh; /* Usa viewport height */
    background-color: #B8F2FE;
    background-image: url('https://res.cloudinary.com/dbjgvudha/image/upload/v1749475052/MacBook_x83a3z.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
  }